@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: #FFFFFF;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

#carousel {
    width: 70%;
    max-height: 1000px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

#carousel-title a {
    text-decoration: none;
}


#carousel img {
    width: 100%;
    border-radius: 20px;
    
}

#carousel-title  {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}



header ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
	display: inline-block;
}

header {
    background: #FFFFFF;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

header div {
    display: inline;
    vertical-align: middle;
}

header nav {
    display: inline-block;
    vertical-align: middle;
    width: 80vw;
}

header nav a {
    color: #1351d8;
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
    margin-left: 14px;
    margin-right: 14px;
}

header nav a:hover {
    color: #1b357e;
    text-decoration: none;
    font-weight: 900;
}

nav li {
    display: inline;
    list-style: none;
}

main {
    min-height: calc(100% - 167px);
}

nav#social {
    display: inline;
    width: 80%;
}

nav#social ul img {
    width: 28px;
}

span.redesociais {
    color: #ffffff;
    vertical-align: super;
}

footer {
    background: #1B357E;
    padding: 20px;
}

footer div {
    display: inline;
    float: right;
    margin-right: 40px;
}

button:hover {
    background: #1b357e;
}
button {
    background: #1351d8;
    color: #fff;
    border: 0px;
    border-radius: 10px;
}


button#carousel-prev {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    opacity: 0.5;
    color: #fff;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

button#carousel-next {
    position:absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    opacity: 0.5;
    color: #fff;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;

}

button#carousel-next:hover {
    background: #1b357e;
    opacity: 0.8;
    
    
    
}   

button#carousel-prev:hover {
    background: #1b357e;
    opacity: 0.8;
    
}  